<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dies ist ein Projekt von Daniel, Mounir, Christoper &amp; Vincent</p>
<p>Entstanden im Rahmen der IT4b Projektwoche vom 13.06.16 - 17.03.16</p>
