@{
    ViewData["Title"] = "Home Page";
}

@section scripts {<script src="~/js/TS/Index.js"></script>}
    
<div class="row">
    <div class="col-md-9">
        <h2>Scrumboard</h2>

        <div id="board">
            <div id="todo">
                <div id="item1" draggable="true">
                    <div id="item2" draggable="true">
                    </div>
                    <div id="inprogress"></div>
                    <div id="done"></div>
                </div>
            </div>
        </div>

        <form name="myform" asp-controller="Account" asp-action="IsLoggedIn" method="POST">
             <button value="Test" onclick="document.myform.submit()" />
        </form>

   </div>
</div>
