<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumBoard</title>
    @RenderSection("head", required: false)
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/moment-datepicker/moment-datepicker/datepicker.css" rel="stylesheet" />
        <link href="~/lib/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/moment-datepicker/moment-datepicker/datepicker.css" rel="stylesheet" />
        <link href="~/lib/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">ScrumBoard</a>
            </div>
            <div class="navbar-collapse collapse">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content"> 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - ScrumBoard</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/tinymce/tinymce.js"></script>
        <script src="~/lib/tinymce/jquery.tinymce.js"></script>
        <script src="~/lib/tinymce-i18n/langs/de.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/knockout/dist/knockout.debug.js"></script>
        <script src="~/lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
        <script src="~/lib/knockout-pickadate-tinymce/knockout-tinymce.js"></script>
       @* <script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/moment/locale/de.js"></script>
        <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
        <script src="~/lib/knockout-moment/knockout.moment.js"></script>
        <script src="~/lib/moment-datepicker/moment-datepicker/moment-datepicker.js"></script>
        <script src="~/lib/moment-datepicker/moment-datepicker/moment-datepicker-ko.js"></script>
        <script src="~/js/TS/Sidebars.js"></script>
        <script src="~/lib/arrive/src/arrive.js"></script>
        <script src="~/lib/parsleyjs/dist/parsley.js"></script>
        <script src="~/lib/parsleyjs/dist/i18n/de.js"></script>
        <script src="~/lib/parsleyjs/dist/i18n/de.extra.js"></script>
        <script src="~/js/TS/ServerModel.js"></script>
        <script src="~/js/TS/ClientModel.js"></script>
        <script src="~/js/TS/ServerApi.js"></script>
        <script src="~/js/TS/Map.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
