@{
    ViewData["Title"] = "Gesperrt";
}

<header>
    <h1 class="text-danger">Gesperrt</h1>
    <p class="text-danger">Dieser Benutzer wurde gesperrt. Bitte versuchen Sie es später erneut</p>
</header>
