@{
    ViewData["Title"] = "Passwort zurückgesetzt";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ihr Passwort wurde zurückgesetzt. Bitte <a asp-controller="Account" asp-action="Login">klicken Sie hier um sich anzumelden</a>.
</p>
